<h2>Редактирование записей</h2>
<div class="box"  ng-repeat="item in data.out">
    <h3 id='{{item.id}}' ng-click="show = !show" >{{item.siteTitle}}<span  ng-click="edit(item.id)" class="glyphicon glyphicon-floppy-saved"></span> <span  ng-click="delete(item.id)" class="glyphicon glyphicon glyphicon-trash"></span></h3>
    <div class="content ng-hide" ng-show="show">
      <strong> <p editable-textarea='item.siteTitle'>{{item.siteTitle}}</p></strong>
      <p editable-textarea='item.siteDescription'>{{item.siteDescription}}</p>
      <strong>Главная страница </strong> <a editable-textarea='item.siteUrl' href="{{item.siteUrl}}">{{item.siteUrl}}</a>
      <ul>
        <li ng-repeat='item in item.nestedPage'>
            <span  editable-textarea='item.description'>{{item.description}}</span> <a  editable-textarea='item.url' href="{{item.url}}">{{item.url}}</a>
        </li>
      </ul>
    </div>
</div>
